<header>
  <nav>
    <ul>
      <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/Login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
    </ul>
  </nav>
  <div>
    
  </div>
</header>

<h1 class="text-center"> {{title}} </h1>
<div class = "container">
  <router-outlet></router-outlet>
</div>
<footer class = "footer">
  <div class = "container">
      <span>nothing</span>
  </div>
</footer>