<div >
    Left sidebar
    <nav class="left_sidebar">
        <ul>
            <li>
                <a href="/home">
                    <span><i class="fas fa-home"></i></span>
                    Home
                </a>
            </li>
            <li>
                <a href="/login">
                    <span><i class="fas fa-address-card"></i></span>
                    Log in
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fas fa-cog"></i></span>
                    Settings
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fas fa-address-book"></i></span>
                    Contact
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fas fa-comments-alt-dollar"></i></span>
                    Feedback
                </a>
            </li>
        </ul>


    </nav>

</div>